@model ProductViewModel

<div class="row">
	@await Html.PartialAsync("AdminLeftMenu")
	<div class="col-8 text-center">
		<h3 class="text-center">Добавить новый товар</h3>
		<form method="post">
			<div class="row" asp-validation-summary="All">
				<div class="col">
					<div class="row">
						<div class="col">
							<input asp-for="Name" placeholder="Название" /><br />
							<span asp-validation-for="Name"></span>
						</div>
					</div>
					<br />
					<div class="row">
						<div class="col">
							<input type="number" asp-for="Cost" placeholder="Цена" /><br />
							<span asp-validation-for="Cost"></span>
						</div>
					</div>
					<br />
					<div class="row">
						<div class="col">
							<input asp-for="Description" placeholder="Описание" /><br />
							<span asp-validation-for="Description"></span>
						</div>
					</div>
					<br>
					<button class="btn btn-dark" type="submit" asp-area="Admin" asp-controller="Product" asp-action="AddNew">Сохранить</button>
				</div>
			</div>
		</form>
	</div>
</div>

